<header class="h-100" id="header">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-5 h-100 d-flex align-items-center">
                <div>
                    <h1 class="title">
                        Diseñamos <strong>Páginas </strong>web <strong>Atractivas</strong> y
                        <strong>Funcionales</strong>
                    </h1>
                    <div class="description">
                        <p>
                            ¡Déjanos ayudarte a construir una presencia en línea impresionante!
                        </p>

                    </div>
                    <div class="action">
                        <button mat-raised-button color="accent">Solicitar cotización</button>


                    </div>
                </div>

            </div>
            <div class="col-7 h-100 d-flex align-items-center img">
                <img src="/assets/images/banner_1.svg" alt="">
            </div>
        </div>

    </div>
</header>