<header class="h-100" id="header">
    <div class="container  d-flex align-items-center">
        <div class="row  d-flex align-items-center">
            <div class=" order-lg-2 col-12 col-lg-7 h-100 d-flex align-items-center img">
                <img class="img-fluid" src="/assets/images/banner_1.svg" alt="">
            </div>
            <div class="col-12 col-lg-5">
                <div>
                    <div class="title-1">
                        Diseñamos <strong>Páginas </strong>web <strong>Atractivas</strong> y
                        <strong>Funcionales</strong>

                    </div>
                    <div class="description">
                        <p>
                            ¡Déjanos ayudarte a construir una presencia en línea impresionante!
                        </p>

                    </div>
                    <div class="action">
                        <button routerLink="/contact" fragment="contact" mat-raised-button color="accent">Solicitar cotización</button>
                    </div>
                </div>

            </div>
           
        </div>

    </div>
</header>