<div class="container">
    <app-home-titles title="Características" description="Principales características que te harán elegirnos"
        class="text-center"></app-home-titles>
    <div class="row">
        <div class="col-6 mb-3">
            <div class="card-box d-flex">
                <div class="icon-box">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="emoji_objects"></mat-icon>
                </div>
                <div class="card-content d-flex ms-0">
                    <div>
                        <div class="title-3 pb-2">
                            Caracteritica 1
                        </div>
                        <div>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt adipisci dignissimos
                                quo
                                facere doo porro veniam fugiat.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card-box d-flex">
                <div class="icon-box">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="emoji_objects"></mat-icon>
                </div>
                <div class="card-content d-flex ms-0">
                    <div>
                        <div class="title-3 pb-2">
                            Caracteritica 1
                        </div>
                        <div>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt adipisci dignissimos
                                quo
                                facere doo porro veniam fugiat.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card-box d-flex">
                <div class="icon-box">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="emoji_objects"></mat-icon>
                </div>
                <div class="card-content d-flex ms-0">
                    <div>
                        <div class="title-3 pb-2">
                            Caracteritica 1
                        </div>
                        <div>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt adipisci dignissimos
                                quo
                                facere doo porro veniam fugiat.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card-box d-flex">
                <div class="icon-box">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="emoji_objects"></mat-icon>
                </div>
                <div class="card-content d-flex ms-0">
                    <div>
                        <div class="title-3 pb-2">
                            Caracteritica 1
                        </div>
                        <div>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt adipisci dignissimos
                                quo
                                facere doo porro veniam fugiat.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>