<nav class="menu">
    <div class="container">
        <div class="row">
            <div class="col col-lg-3 d-flex align-items-center container-logo">
                <img routerLink="/" src="/assets/logos/logo-ra-code-white.svg" alt="">
            </div>
            <div class="col col-lg-9 d-flex justify-content-end align-items-center container-menu">
                <div class="d-none d-lg-flex">
                    <div routerLink="/">Inicio</div>
                    <div>Nosotros</div>
                    <div>Servicios</div>
                    <div routerLink="contact">Contacto</div>
                </div>
                <div class="d-lg-none">

                    <button (click)="toggle()" mat-icon-button class="" aria-label="Example icon button with a home icon">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>

            </div>
        </div>
    </div>
</nav>