<section class="section py-3 py-lg-5">
    <div class="container py-3 py-lg-5">
        <div class="row">
            <div class="col-12 col-lg-6 d-flex align-items-center">
                <img class="img-fluid" src="/assets/images/experience.svg" alt="">
            </div>
            <div class="col">
                <div class="mb-3">
                    <app-home-titles class="text-left " title="Experiencia"
                        description="Nuestra trayectoria nos precede"></app-home-titles>
                </div>

                <div>
                    <p>
                        Tenemos más de 8 años de experiencia en el desarrollo de soluciones tecnológicas para empresas
                        de diferentes industrias. Durante este tiempo, hemos completado numerosos proyectos importantes
                        que nos han permitido crecer como profesionales y como equipo.
                    </p>
                    <p>
                        Nuestra experiencia en el mercado nos permite ofrecer soluciones innovadoras y eficaces a
                        nuestros clientes. A continuación, te presentamos algunos de los beneficios de trabajar con
                        nosotros:
                    </p>
                    <div class="list ms-2 mt-4">
                        <div class="item">
                            <mat-icon class="icon" fontIcon="check_circle"></mat-icon>
                            <span>Conocimiento profundo</span>
                        </div>
                        <div class="item">
                            <mat-icon class="icon" fontIcon="check_circle"></mat-icon>
                            <span>Habilidades especializadas</span>
                        </div>
                        <div class="item">
                            <mat-icon class="icon" fontIcon="check_circle"></mat-icon>
                            <span>Red de contactos</span>
                        </div>
                        <div class="item">
                            <mat-icon class="icon" fontIcon="check_circle"></mat-icon>
                            <span>Mayor eficiencia</span>
                        </div>
                        <div class="item">
                            <mat-icon class="icon" fontIcon="check_circle"></mat-icon>
                            <span>Mejor toma de decisiones</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>