<footer style="background-color: #29223a;">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" width="120px" src="/assets/logos/logo-ra-code-white.svg" alt="Logo ra-code">
                <p class="mt-3">Somos una empresa de desarrollo web comprometida con ofrecer soluciones innovadoras y
                    eficaces a nuestros clientes.</p>
                <div class="d-flex justify-content-start">
                    <button mat-icon-button class="" aria-label="Example icon button with a home icon">
                        <mat-icon><i class="material-icons me-3">facebook</i></mat-icon>
                    </button>
                    <button mat-icon-button class="" aria-label="Example icon button with a home icon">
                        <mat-icon><i class="material-icons me-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
                                </svg>
                            </i></mat-icon>
                    </button>
                </div>
            </div>
            <div class="col-md-5">
                <h4>Mapsite</h4>
                <ul class="list-unstyled mapsite">
                    <li><a href="#">Página de inicio</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Proyectos</a></li>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Contacto</h4>
                <!-- <ul class="list-unstyled">
            <li><i class="material-icons">place</i> Dirección: </li>
            <li><i class="material-icons">phone</i> Teléfono: +1 234 567 8901</li>
            <li><i class="material-icons">email</i> Correo electrónico: info@ejemplo.com</li>
          </ul> -->
                <div class="list mt-4">
                    <div class="item">
                        <mat-icon class="icon" fontIcon="place"></mat-icon>
                        <span>Calle X, Ciudad Y, País Z</span>
                    </div>
                    <div class="item">
                        <mat-icon class="icon" fontIcon="phone"></mat-icon>
                        <span>+1 234 567 8901</span>
                    </div>
                    <div class="item">
                        <mat-icon class="icon" fontIcon="email"></mat-icon>
                        <span>info@ejemplo.com</span>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="bg-dark text-white py-3">
        <div class="container text-center">
            <p class="mb-0">&copy; 2023 Todos los derechos reservados. Web desarrollada por RA-Code.</p>
        </div>
    </div>
</footer>