<nav class="menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 d-flex align-items-center container-logo" >
                <img src="/assets/logos/logo-ra-code-white.svg" alt="">
            </div>
            <div class="col-lg-9 d-flex justify-content-end align-items-center container-menu">
                <div routerLink="/">Inicio</div>
                <div>Nosotros</div>
                <div>Servicios</div>
            </div>    
        </div>    
    </div>    
</nav>